@font-face { 
  font-family: 'proto'; 
  src:
  	   url('../fonts/prototypster-medium-webfont.ttf')  format('truetype'),
       url('../fonts/prototypster-medium-webfont.woff') format('woff'), 
       url('../fonts/prototypstermedium-webfont.woff2') format('wof2'); 
  font-weight: normal; 
  font-style: normal; 
}